Development/ShapelessBenchmark/target/*
Development/ShapelessBenchmark/project/project/*
Development/ShapelessBenchmark/project/target/*
Development/ShapelessBenchmark/.idea/modules/shapelessbenchmark.iml
Development/ShapelessBenchmark/.idea/workspace.xml
Development/Generic/target/*
Development/Generic/project/project/*
Development/Generic/project/target/*
Development/Generic/.idea/modules/shapelessbenchmark.iml
Development/Generic/.idea/workspace.xml
concepts-slide-template/slides.pdf
*.pdf
