Development/ShapelessBenchmark/target/*
Development/ShapelessBenchmark/project/target/*
Development/ShapelessBenchmark/.idea/modules/shapelessbenchmark.iml
Development/ShapelessBenchmark/.idea/workspace.xml
concepts-slide-template/slides.pdf
